body {
  color: #002b36;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  background-color: #002b36;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a, a:visited {
  color: #fdf6e3;
}

.repository-listing {
  position: fixed;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: scroll;
}

.repository-item {
  flex: 1 0;
}

.repository-item:not(:first-child) {
  border-left: 5px solid #002b36;
}

.branch-list {
  display: flex;
  flex: 1 1;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 100%;
}

.branch {
  flex: 1 1 auto;
  margin: auto;
  width: 100%;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-position: left 5% center;
  background-size: 8vh;
}

.branch::before {
  content: ' ';
  display: block;
  flex: 0 0 auto;
  background-size: contain;
  width: 8vh; height: 8vh;
  background-repeat: no-repeat;
  background-position: right 5% center;
  margin: 0 40px;
}

.repository-heading {
  flex: 0 0 6%;
  background-color: #002b36;
  color: #fdf6e3;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 4vh;
  text-align: center;
  justify-content: center;
}

.branch:not(:first-child) {
}

.branch-name {
  flex: 2 1;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 4vh;
  text-align:center;
}

.created {
  background-color: #cfcfc4;
}

@keyframes roll { 100% { transform: rotateZ(180deg) } }

.passed {
  background-color: #61c654;
}

.passed::before {
  background-image: url("sunny.svg");
  animation: roll 90s infinite alternate linear;
}

.started {
  background-color: #2980b9;
}

.started::before {
  background-image: url("arrows.svg");
}

.errored {
  background-color: #ed6b5f;
}

@keyframes bounce {
  60% { transform: rotateZ(0); }
  70% { transform: rotateZ(25deg) scale(1.2, 1.2); }
  80% { transform: rotateZ(-25deg) scale(1.2, 1.2); }
  90% { transform: rotateZ(25deg) scale(1.2, 1.2); }
  100% { transform: rotateZ(0deg) scale(1, 1); }
}

.errored::before { 
  background-image: url("thunder.svg");
  animation: bounce 4s infinite linear;
}

.failed {
  background-color: #f5bf4f;
}

@keyframes shuffle {
  33% { transform: translate(-10%, 0); }
  66% { transform: translate(10%, 0); }
  100% { transform: translate(0, 0); }
}

.failed::before {
  background-image: url("cloud.svg");
  animation: shuffle 3s infinite ease-in-out;
}

.canceled {
  background-color: #bdc3c7;
}

.config-button {
  background-color: transparent;
  background-image: url('tool.svg');
  background-repeat: none;
  background-size: contain;
  border: 0;
  cursor: pointer;
  width: 5vh;
  height: 5vh;
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 10;
}

.config-panel {
  border-radius: 3px;
  background-color: #002b36;
  color: b58900;
  overflow: scroll;
  line-height: 40px;
  vertical-align: middle;
  position: fixed;
  max-width: 640px;
  max-height: 500px;
  margin: auto auto;
  top: 0; left: 0; right: 0; bottom: 0;
  padding: 25px 50px;
  z-index: 20;
}

.config-panel section {
  margin-top: 15px;
}

.config-panel h2, .config-panel h3 {
  margin: 0;
}

.config-panel input {
  background-color: #eee8d5;
  border-radius: 3px;
  clear: right;
  font-size: 15px;
}

.config-panel input[type=text] {
  height: 40px;
  flex: 2 1;
}

.config-panel button {
  padding: 8px;
  font-size: 15px;
  height: 40px;
  margin-left: 15px;
}

.config-panel label {
  display: block;
  flex: 1 1;
  margin-right: 10px;
}

.config-panel-control-row {
  display: flex;
  align-items: center;
}

.config-repository-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.config-repository-list li {
  background-color: #073642;
  border-radius: 3px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  padding: 8px;
}

.remove-repository-icon {
  margin-left: 10px;
  width: 35px;
  height: 35px;
}

.attributions {
  font-size: 12px;
  line-height: 2em;
  margin-top: 50px;
}

button.config-close-button {
  background-color: transparent;
  background-image: url('circle-white.svg');
  background-size: 100%;
  border: 0;
  cursor: pointer;
  position: absolute;
  top: 15px; right: 15px;
  width: 45px; height: 45px;
}
